.contain {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #00C250;
    position: absolute;
    border-radius: 6px;
    border-radius: 6px;
    width: 476px;
    height: 88px;
    top: 1263px;
    left: 137px;
    font-family: PingFangSC-Medium;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.text {
    position: absolute;
    font-family: PingFangSC-Semibold;
    font-size: 42px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    left: 131px;
    top: 347px
}

.center {
    margin: auto;
}

.imageBody {
    width: 612px;
    position: absolute;
    width: 612px;
    height: 776px;
    left: 70px;
    top: 427px;
}

.image {
    width: 612px;
    height: 776px;
}

.imageText {
    z-index: 9999;
    position: absolute;
    width: 371px;
    left: 121px;
    bottom: 69px;
    opacity: 0.6;
    font-family: PingFangSC-Light;
    font-size: 24px;
    color: #000000;
    text-align: left;
    letter-spacing: 0;
    line-height: 41px;
}

.imageTitle {
    position: absolute;
    left: 242px;
    top: 131px;
    font-family: PingFangSC-Medium;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.imageTitle2 {
    position: absolute;
    left: 203px;
    top: 190px;
    font-family: PingFangSC-Semibold;
    font-size: 42px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.exChangeRate {
    position: absolute;
    left: 101px;
    top: 291px;
    width: 410px;
    height: 198px;
    text-align: center;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    border-radius: 4px;
    padding-top: 41px;
}

.line {
    border-top: 2px solid #DCDCDC;
    opacity: 0.42;
    width: 346px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 13px;
}

.hkDollar {
    opacity: 0.9;
    font-family: PingFangSC-Medium;
    font-size: 26px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

.rmb {
    font-family: PingFangSC-Semibold;
    font-size: 40px;
    color: #F15451;
    letter-spacing: 0;
    text-align: center;
}

.reference {
    opacity: 0.6;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    margin-right: 16px;
}

.price {
    opacity: 0.6;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    text-decoration: line-through;
}

.exchangeRate {
    opacity: 0.6;
    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #000000;
    letter-spacing: 0;
}