.imageBody {
    width: 339px;
    height: 431px;
    position: relative;
}

.image {
    width: 339px;
    height: 431px;
}

.titleBody {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}

.title {
    opacity: 0.9;
    font-family: PingFangSC-Medium;
    font-size: 26px;
    color: #000000;
    letter-spacing: 0;
    margin: 0 auto;
    text-align: center;
}

.type {
    opacity: 0.9;
    font-family: PingFangSC-Medium;
    font-size: 26px;
    color: #000000;
    letter-spacing: 0;
    margin: 0 auto;
    text-align: center;
}

.button {
    position: absolute;
    bottom: 43px;
    left: 92px;
    background: #F15451;
    border-radius: 5.4px;
    border-radius: 5.4px;
    width: 157px;
    height: 56px;
    font-family: PingFangSC-Medium;
    font-size: 23.4px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.discountText {
    position: absolute;
    top: 132px;
    left: 119px;
    font-family: Helvetica;
    font-size: 80px;
    color: #F15451;
    letter-spacing: -2.8px;
}

.discountText2 {
    position: absolute;
    top: 169px;
    left: 168px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    color: #F15451;
    letter-spacing: 0;
}

.discountCondition {
    position: absolute;
    top: 221px;
    left: 70px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #F15451;
    letter-spacing: 0;
}

.gift {
    position: absolute;
    left: 124px;
    top: 149px;
    width: 70px;
    height: 63px;
}

.price {
    position: absolute;
    top: 133px;
    left: 111px;
    font-family: Helvetica;
    font-size: 80px;
    color: #F15451;
    letter-spacing: -2.8px;
}

.priceName {
    position: absolute;
    top: 177px;
    left: 199px;
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #F15451;
    letter-spacing: 0;
}

.oldPrices {
    position: absolute;
    left: 75px;
    top: 227px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #F15451;
    letter-spacing: 0;
}

.oldPice {
    text-decoration: line-through;
}